.navigation-section>.navbar>ul>p>a>img.logo{
height:50px;
display:inline-block;
float:left;
}
.navigation-section>.navbar>ul>li{
    list-style:none;
    text-decoration:none;
    display:inline-block;
    padding:0px;
    margin:20px;
    
}
.navigation-section>.navbar>ul>li>a{
    text-decoration:none;
    color:violet;
    font-weight:bold;
}